html,body{
  scroll-behavior: smooth !important;
}
a{
  cursor:pointer !important;
}

.homeLink{
  padding:0.3rem 0.2rem;
  display: inline-block;
}
.homeLink:hover{
  color: #6f42c1;
}

.progressBar{
  width:100%;
  border-radius: 0.1rem;
  font-size:0.75rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background:#e9ecef !important;
}

.progressData{
  width:25%;
  background: #6f42c1 !important;
  border-radius: .1rem;
  padding:0 0.2rem;
  color:#fff;
}

.btn-group{
  padding-top:1rem;
}
.task{
  padding:0;
  border-radius: 3rem;
  margin:0.1rem;
  cursor: pointer;
}

.task:hover{
  color:lightcoral !important;
}

img{
  box-shadow: 0 0 4px 2px #333, 0 0 4px 1px #000;
}

#gallerySection{
  background: #7A28CB;
}
.gallery{
  color:#fff !important;
}

.py-24{
  padding-top:2rem;
  padding-bottom:2rem;
}

footer{
  background: #7A28CB;
}

.yellowBackground{
  background:#FFDD4A;
}

header{
  background:#7A28CB;
}

.todoDone:hover{
  color:#0f0 !important;
}

#todoInputBox{
  display: none;
  transition: 0.5s ease all;
}
